body {
    font-family: Arial, sans-serif;
    background-color: #e01111;
  }
  
  h1 {
    text-align: center;
    background-color: white;
  }
  header{
    background-image: url(carbon\ fiber.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }